/*long*/
*{
	width:100%;
}
/*long*/
/*乔布斯 and 发布按钮*/
.frame{
	height: 400px;
	background-color: #0E1022;
}
.frame-center{
	margin: 0 auto;
	width: 1099px;
	height: 400px;
}
.frame-left{
	width: 799px;
	height: 400px;
	float: left;
	background-color: white;
}
.frame-right{
	width: 300px;
	height: 400px;
	float: right;
	background-color: #142A49;
}
#publish-btn{
	position: relative;
	top: 135px;
	left: 40px;
	width: 223px;
	height: 63px;
	background-color: #3090B8;
	text-align: center;
	line-height: 63px;
	border-radius:15px 15px ;
	cursor:pointer;
}
#publish-btn img{
	width: 18px;
}
#publish-btn a{
	font-size: 22px;
	color: white;
	font-family: "微软雅黑";
	text-decoration: none;
}
/*正文*/

/*正文的左边栏*/
.content-left{
	float: left;
	width: 800px;
	border-left: 1px solid #D4D4D4;
	border-right: 1px solid #D4D4D4;
}
.left-title{
	width: 760px;
	height: 29px;
	margin-top: 21px;
	padding-bottom: 5px;
	border-bottom: 2px solid #EDB632;
	color: #656565;
}
.left-title img{
	width: 16px;
}
.left-title span{
	font-size: 22px;
	color: #656565;
	font-family: "微软雅黑";
	letter-spacing: 3px;
}
/*热门推荐*/
.recommend{
	width: 780px;
	margin-left: 20px;
}
#recommend-classify{
	height: 32.5px;
	padding: 21.5px 8px 20.5px 8px;
}
#recommend-classify a{
	float: left;
	width: 80px;
	height: 28px;
	border-radius: 20px 20px;
	background-color: white;
	text-align: center;
	line-height: 31px;
	border: 1px solid #D4D4D4;
	margin: 0 13px;
	font-size: 12px;
	text-decoration: none;
	color: black;
}
#recommend-classify a:hover{
	width: 82px;
	height: 30px;
	border-style: none;
	background-color: #EDB632;
	color: white;
}
.all-recommend{
	
	width: 780px;
	height: 606px;
}
.oneof-recommend{
	width: 260px;
	height: 303px;
	float: left;
}
.recommend-picture{
	width: 239px;
	height: 150px;
}
.recommend-text{
	width: 239px;
	height: 153px;
	font-size: 12px;
}
.recommend-title{
	width: 239px;
	height: 42px;
	line-height: 42px;
	letter-spacing: 1.5px;
	font-size: 16px;
	color: #333333;
	font-weight: bold;
}
.recommend-author{
	float: left;
	width: 100px;
	height: 12px;
	margin-top: 5px;
	color: #A0A0A0;
	font-weight: bold;
	letter-spacing: 1px;
}
.recommend-date{
	float: right;
	width: 80px;
	height: 12px;
	margin-top: 5px;
	color: #A0A0A0;
	letter-spacing: 1px;
}
.recommend-summary{
	float: left;
	width: 239px;
	height: 40px;
	color: #666666;
	margin-top: 17px;
	letter-spacing: 1px;
	line-height: 2em;
}
.more{
	width: 763px;
	height: 45px;
	background-color: #EDEDED;
	text-align: center;
	line-height: 42px;
	color: #8D8C8C;
	font-size: 16px;
	font-weight: bold;
	font-family: "微软雅黑";
	cursor:pointer;
	clear: left;
}
/*最新发布*/
.newpublish{
	width: 780px;
	padding-bottom: 30px;
	margin-left: 20px;
	margin-top: 23.5px;
}
.newpublish .left-title{
	margin-top: 0;
}
.all-newpublish{
	width: 780px;
	height: 282px;
}
.oneof-newpublish{
	float: left;
	width: 260px;
	height: 238px;
	margin-top: 21px;
}
.newpublish-picture{
	width: 239px;
	height: 150px;
}
.newpublish-text{
	width: 239px;
	height: 78px;
	font-size: 12px;
	line-height: 26px;
	margin-top: 10px;
	letter-spacing: 1px;
	font-weight: bold;
}
.newpublish-text p{
	color: #333333;
	
}
.newpublish-text span{
	color: #666666;
}
/*右边栏*/
.content-right{
	float: right;
	width: 259px;
	height: 1168px;
	border-right: 1px solid #D4D4D4;
	padding: 31px 16px 0 20px;
}
.right-title{
	width: 259px;
	height: 24px;
	margin-bottom: 28px;
	border-bottom: 2px solid #142D4F;
	font-size: 12px;
	line-height: 24px;
	color: #656565;
}
/*通知公告*/
.inform{
	width: 259px;
	height: 473px;
}
.inform img{
	width: 11px;
}
.oneof-inform{
	width: 259px;
	height: 78px;
}
.inform-title a{
	text-decoration: none;
	font-size: 14px;
	color: black;
	letter-spacing: 1.5px;
	color: #232323;
}
.inform-summary{
	font-family: "MicrosoftYaHeiLight";
	margin-left: 18px;
	margin-top: 4px;
	font-size: 12px;
	letter-spacing: 1.6px;
	line-height: 1.5;
}
.inform-summary a{
	text-decoration: none;
	color: #999999;
}
.inform-summary a:hover{
	text-decoration: underline;
}
/*活跃用户*/
.activeusers{
	width: 259px;
	height: 690px;
}
.activeusers .right-title{
	margin-bottom: 14px;
}
.user{
	width: 259px;
	height: 53px;
	margin-bottom: 4.5px;
}
.user-picture{
	float: left;
	width: 49px;
	height: 53px;
}
.user-name{
	float: left;
	margin: 1px 0 0 16px;
	width: 193px;
	height: 52px;
	font-size: 12px;
	line-height: 2em;
	letter-spacing: 1px;
}
.user-name p{
	color: #232323;
}
.user-name span{
	color: #999999;
}