*{
	margin: 0;
	padding: 0;
	/*width: 100%;*//*已经分别添加到各个页面的单独样式中*/
	text-decoration: none;
}
/*long*/
html{/*为了避免出现当前的显示区宽度小于中间主体内容的最小 宽度而出现的bug*/
	min-width: 1100px;
}
/*long*/
body{
	background-color: #E8E8E8;
	font-family: "微软雅黑"；
}
li{
	list-style-type: none;
}
/*tab选项卡*/
.tab{
	height: 84px;
	background-color: #0F2038;
}
.tab-center{
	width: 1100px;
	height: 80px;
	margin: 0 auto;
	position: relative;
}
/*工大众筹logo*/
.tab-logo{
	float: left;
	height: 80px;
	width: 120px;
	line-height: 80px;
}
.tab-logo1{
	float: left;
	width: 19px;
	height: 20px;
	margin-top: 30px;
}
.tab-logo2{
	float: left;
	width: 95px;
	margin-left: 6px;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 22px;
}
/*左边部分*/
#tab-left{
	float: left;
	width: 400px;
	height: 80px;
	font-weight: 100;
	line-height: 80px;
}
.tab-box{
	float: left;
	width: 32px;
	height: 80px;
	padding: 0 25px;
	cursor:pointer;
}
.tabs{
	float: left;
	width: 100%;
	height: 72px;
}
.tabs a{
	text-decoration: none;
	color: white;
}
/*改后小三角形*/
.tab-triangle{
	width:0; 
    height:0;
    margin: 0 auto;
    margin-top: 72px;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-bottom:8px solid #EDB632;
    display: none;
}
.triangle{
	width:0; 
    height:0;
    margin: 0 auto;
    margin-top: 72px;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-bottom:8px solid #EDB632;
}
/*右边部分*/
.tab-right{
	float: right;
	width: 500px;
	height: 80px;
}
.user-login {
    width: 94px;
    height: 80px;
    float: right;
    margin-left: 14px;
    background-color: #0F2038;
}
.grey-triangle {
    float: right;
    width: 0;
    height: 0;
    margin: 0 auto;
    margin-top: 40px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #444444;
    }
.username {
    float: right;
    color: white;
    font-size: 12px;
    margin: 36px 0 0 10px;
    width: 45px;
}
.user-login img {
    float: right;
    width: 26px;
    height: 26px;
    margin-top: 30px;
    border-radius: 3px;
}
.mail {
    width: 22px;
    height: 16px;
    float: right;
    margin: 35px 18px 0 18px;
}
#personal {
    width: 149px;
    height: 250px;
    position: absolute;
    right: -18px;
    top: 65px;
    z-index: 1;
    border-top: 1px solid #d3d3d3;
    text-align: center;
    background-color: #FEFEFE;
    display: none;
}
.sub {
    width: 148px;
    height: 49px;
    border: 1px solid #d3d3d3;
    border-top: 0;
}
.sub img {
    width: 12px;
    height: 12px;
}
.sub a {
    line-height: 49px!important;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

/*登录注册*/
.login{
	float: right;
	width: 90px;
	height: 80px;
	color: white;
	font-weight: 100;
	line-height:80px;
}
.login a{
	font-size: 16px;
	text-decoration: none;
	color: white;
}
/*搜索框*/
.search{
	float: right;
	width: 250px;
	height: 35px;
	margin-top: 24px;
	margin-right: 15px;
	background-color: white;
	border-radius: 16px;
}
.search-button{
	float: left;
	width: 14px;
	height: 16px;
	margin: 10px 0 10px 11px;
	border: 0;
	background: url(../images/submit.gif);
	cursor:pointer;
}
.search-text{
	float: left;
	width: 215px;
	height: 34px;
	margin-left: 10px;
	outline: none;
	border: 0;
	border-radius: 16px;
}
.tab-bottom{
	background-color: #EDB632;
	height: 4px;
}
/*正文*/
.content{
	width: 1100px;
	margin: 0 auto;
	background-color: #FEFEFE;
	border-bottom: 1px solid #D4D4D4; 
}
/*底部*/
.bottom{
	height: 116px;
	background-color: #EDEDED;
	border-top: 1px solid #D4D4D4;
	font-size: 12px;
	line-height: 2em;
	letter-spacing: 1px;
	color: #656565;
}
.bottom-center{
	width: 1100px;
	height: 116px;
	margin: 0 auto;
}
.logo{
	float: left;
	width: 80px;
	height: 116px;
}
.logo-logo{
	float: left;
	width: 34px;
	height: 34px;
	padding: 48px 11px 34px 22px;
}
.bottom-text{
	float: left;
	width: 230px;
	height: 48px;
	padding-top: 40px;
}
.share{
	float: left;
	width: 400px;
	height: 116px;
}
.share a{
	text-decoration: none;
	color: #656565;
}
.share-logo{
	float: left;
	width: 150px;
	height: 50px;
	padding-top: 60px;
}
.share-logo1{
	width: 14px;
	height: 16px;
	background: url(../images/logo6.gif);
	border: 0;
	margin: 10px 0 0 6px;
	cursor:pointer;
}
.share-logo2{
	width: 18px;
	height: 16px;
	background: url(../images/logo7.gif);
	border: 0;
	margin-left: 14px;
	cursor:pointer;
}
.share-logo3{
	width: 22px;
	height: 18px;
	background: url(../images/logo8.gif);
	border: 0;
	margin: 5px 0 0 14px;
	cursor:pointer;
}
.opinion{
	float: right;
	width: 86px;
	height: 68px;
	margin-top: 48px;
}
.opinion img{
	width: 10px;
	height: 12px;
}
.opinion a{
	color: #656565;
}
/*返回顶部*/
#top-btn{
	width: 50px;
	height: 45px;
	position: fixed;
	left: 93%;
	bottom: 20px;
	background: url(../images/top.png);
	display: none;
}